#playerList {
    white-space: nowrap;

}

.playerColumn{
    display: inline-block;
    vertical-align: top;
    text-align: center;
    background-color: #99AABB;
    font-size: 20pt;
    margin-right: 21px;
    padding: 5px;
    width: 150px;
}

.buttonsDiv {
    background-color: #F1FAFF;
}
.scoreButton {
    width: 50px;
    height: 50px;
    font-size: 16pt
}

.deletePlayerButton {
    width:  100px;
    height: 30px;
    font-size: 16pt;
}

.arbitaryButton {
    width: 25px;
    height: 57px;
    font-size: 16pt;
}

.arbitaryTextField {
    width: 50px;
    height: 50px;
    font-size: 16pt;
    text-align: center;
}

.nameData {
    display: block;
    margin-bottom: 5px;
    background-color: #F1FAFF;
    margin-top: 5px;
}

.scoreData {
    font-size: 50pt;
    margin-bottom: 5px;
    background-color: #F1FAFF;
}

.scoreHistoryData {
    display: block;
    background-color:#F1FAFF ;
}

.scoreHistoryData2 {
    display: none;
    background-color:#F1FAFF ;
}

.scoreHistoryIncrease {
    display: inline;
    color: green;
    background-color:#F1FAFF ;
}

.scoreHistoryDecrease {
    display: inline;
    color: red;
    background-color:#F1FAFF ;
}
